<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Dashboard</h1>
      <p *ngIf="animes.length > 0 || movies.length > 0  || sports.length > 0" class="lead text-muted">
        There are 
        <span *ngIf="movies.length > 0 " style="font-weight: bold;">{{ movies.length }} movies </span>,
        <span *ngIf="animes.length > 0" style="font-weight: bold;"> {{ animes.length }} animes</span>,
        <span *ngIf="sports.length > 0" style="font-weight: bold;">{{ sports.length }} sport shows</span> in the list.
      </p>
    </div>
  </div>
</section>

<div *ngIf="animes.length > 0" style="border: solid 2px rgb(255, 255, 255); border-radius: 10px;box-shadow:0px 0px 7px 3px rgba(0, 0, 0, 0.308);" class="album py-5 bg-light mb-3">
  <div class="container">
    <h1 style="text-align: center;" class="mb-4">Animes</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">     
      <div  *ngFor="let anime of animes" class="col">
        <div  style="border:solid 15px rgba(255, 255, 255, 0.284);border-radius:7px;box-shadow:0px 0px 7px 6px rgba(126, 126, 126, 0.239);"  class="card shadow-sm">
          <img
            src="../../../assets/anime.jpg"
            height="200"
            width="100%"
            class="bd-placeholder-img card-img-top"
            alt=""
          />

          <div class="card-body">
            <p class="card-text">{{ anime.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="anime-episodes/{{anime._id}}" class="btn btn-sm btn-outline-secondary" style="text-decoration: none;">Watch</a> 
                 <a href="add-episode" class="btn btn-sm btn-success" style="text-decoration: none;margin-left: 10px;">+</a> 
                 <a href="delete-anime/{{anime._id}}" class="btn btn-sm btn-danger" style="text-decoration: none;">-</a> 
              </div>
              <small class="text-muted"
                >{{ anime.rating }} <span class="fa-solid fa-star"></span
              ></small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
      <div *ngIf="movies.length > 0" style="border: solid 2px rgb(255, 255, 255); border-radius: 10px;box-shadow:0px 0px 7px 3px rgba(0, 0, 0, 0.308);"  class="album py-5 bg-light mb-3">
        <div class="container">
          <h1 style="text-align: center;" class="mb-4">Movies</h1>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">     
      <div *ngFor="let movie of movies" class="col"> 
        <div  style="border:solid 15px rgba(255, 255, 255, 0.284);border-radius:7px;box-shadow:0px 0px 7px 6px rgba(126, 126, 126, 0.239);"  class="card shadow-sm">
          <img
            src="../../../assets/cinema.png"
            height="200"
            width="100%"
            class="bd-placeholder-img card-img-top"
            alt=""
          />

          <div class="card-body">
            <p class="card-text">{{ movie.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="movie-episodes/{{movie._id}}" class="btn btn-sm btn-outline-secondary" style="text-decoration: none;">Watch</a> 
                <a href="add-episode" class="btn btn-sm btn-success" style="text-decoration: none;margin-left: 10px;">+</a> 
                <a href="delete-anime/{{movie._id}}" class="btn btn-sm btn-danger" style="text-decoration: none;">-</a> 
              </div>
              <small class="text-muted"
                >{{ movie.rating }} <span class="fa-solid fa-star"></span
              ></small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="sports.length > 0" style="border: solid 2px rgb(255, 255, 255); border-radius: 10px;box-shadow:0px 0px 7px 3px rgba(0, 0, 0, 0.308);" class="album py-5 bg-light mb-3">
  <div class="container">
    <h1 style="text-align: center;" class="mb-4">Sport Shows</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
      <div *ngFor="let sport of sports" class="col"> 
        <div  style="border:solid 15px rgba(255, 255, 255, 0.284);border-radius:7px;box-shadow:0px 0px 7px 6px rgba(126, 126, 126, 0.239);"  class="card shadow-sm">
          <img
            src="../../../assets/sport.jpg"
            height="200"
            width="100%"
            class="bd-placeholder-img card-img-top"
            alt=""
          />

          <div class="card-body">
            <p class="card-text">{{ sport.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="sport-episodes/{{sport._id}}" class="btn btn-sm btn-outline-secondary" style="text-decoration: none;">Watch</a> 
                <a href="add-episode" class="btn btn-sm btn-success" style="text-decoration: none;margin-left: 10px;">+</a> 
                <a href="delete-anime/{{sport._id}}" class="btn btn-sm btn-danger" style="text-decoration: none;">-</a> 
              </div>
              <small class="text-muted"
                >{{ sport.rating }} <span class="fa-solid fa-star"></span
              ></small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



