 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 *ngIf="movies" class="fw-light">Animes</h1>
        <p  *ngIf="movies" class="lead text-muted">There are {{movies.length}} animes in the list.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div *ngFor="let movie of movies" class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/aot.jpg" height="400" width="100%" class="bd-placeholder-img card-img-top" alt="">

            <div class="card-body">
              <p class="card-text">{{movie.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{ movie.rating }} <span class="fa-solid fa-star"></span></small>
              </div>
            </div>
          </div>
        </div>
